<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container" style="height: 50px; background-color: forestgreen">
  <div style="float: left; margin-left: 100px"><<a href="/write" style="font-size: 30px">write blog here</a>></div>
  <div style="float: left; margin-left: 100px"><<a href="/album" style="font-size: 30px">album</a>></div>
  <div style="float: right; margin-right: 100px"><a href="/login" style="font-size: 30px">logout</a></div>
</div>
<br><br><br>
<h1 style="text-align: center"><pre>Welcome!!!     {{.user}}</pre></h1>
</body>
</html>